<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/icon/favicon.ico">
    <link type="text/css" rel="stylesheet" href="/static/css/main.css"/>
    <title>Home</title>
</head>
<body>
    <div id="particles-js"></div>
    
    <main>
        
        <div class="title-container">
            <h1 class="title">Jack Smith</h1>
        </div>

        <div class="logo-container">
            <div class="logo-bounds">
                <img src="/static/images/logos/jacksmith.png" alt="My Awesome Logo" class="logo">
                <div class="logo-border"></div>  
            </div>
        </div>

        <div class="icon-container icon1-container">
            <a href="https://github.com/Lemon-Chad" class="icon1-anchor" target="_blank">
                <img src="/static/images/icons/github.png" alt="Github" class="icon icon1">
            </a>
        </div>

        <div class="icon-container icon2-container">
            <a href="https://discord.com/users/247041157148835840" class="icon2-anchor" target="_blank">
                <img src="/static/images/icons/discord.png" alt="Discord" class="icon icon2">
            </a>
        </div>

        <div class="icon-container icon3-container">
            <a href="mailto:jaolsm6296@gmail.com" class="icon3-anchor" target="_blank">
                <img src="/static/images/icons/mail.png" alt="Mail" class="icon icon3">
            </a>
        </div>

        <br>
        
        <div class="panel-container panel1-container">
            <div class="panel panel1" tabindex="0">
                <img src="/static/images/textures/crystal3.png" alt="" class="crystalpanel">
                Python Developer
            </div>
        </div>
        <div class="panel-container panel2-container">
            <div class="panel panel2" tabindex="0">
                <img src="/static/images/textures/crystal3.png" alt="" class="crystalpanel">
                Java Developer
            </div>
        </div>
        <div class="panel-container panel3-container">
            <div class="panel panel3" tabindex="0">
                <img src="/static/images/textures/crystal3.png" alt="" class="crystalpanel">
                Web Developer
            </div>
        </div>

        <p class="speaker">Feel free to click around! Just not... too much...</p>

        <div class="title-container">
            <h1 class="title">About Me</h1>
        </div>

        <div class="about-me">
            <p>
                I am a current Computer Science major at Purdue. I have many years
                of previous solo project experience, and I am currently seeking
                to expand my experience to more professional ventures.
            </p>
        </div>

        <div class="title-container">
            <h1 class="title">JPizza</h1>
        </div>

        <div class="about-me">
            <p>
                My most significant project is the JPizza programming language, 
                which can be found 
                <a style="color:white" href="https://github.com/Lemon-Chad/JPizza">here</a>.
                This is a fully functional programming language involving functions,
                classes, abstraction, and a complete custom bytecode and virtual machine.
                There is a corresponding package manager and package management system with
                all packges hosted on my own personal server. There are many expansive libraries,
                from graphics to servers to even the ability to host websites! This project is rather
                old, being designed in my sophomore year of high school, and I would love to remake it
                sometime to show my growth.
            </p>
        </div>

        <div class="title-container">
            <h1 class="title">Frontera</h1>
        </div>

        <div class="about-me">
            <p>
                Frontera is my current main project, being a small startup revolving
                around being a launchpad for other startups. I can't spoil too many details,
                so look forward to our first event in February, and follow our instagram @frontera.official
            </p>
        </div>

        <div class="title-container">
            <h1 class="title">Project Ventilium</h1>
        </div>

        <div class="about-me">
            <p>
                Project Ventilium, otherwise known as Catacombs, is a high-octane top-down
                singleplayer shooter game I am currently developing in my free time. Featuring
                high-speed stylish combat combined with brutal survival mechanics and a
                punishing gameplay loop, players will be hooked upgrading their weapons and stash
                and collecting as much gear as possible. Players will attempt to collect as much gold
                and scrap as they can to purchase, unlock, and upgrade more gear to try and take down
                the superintelligent AI ruling over the simulation they're trapped in. The GitHub repository
                for this project is currently private as to withhold assets and development progress. When
                more publicity is brought, links can be found here.
            </p>
        </div>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
        particlesJS.load('particles-js', '/static/particles/particles.json', function() {
            console.log('Particles loaded.');
        });
    </script>
    <script src="/static/js/logoPhysics.js"></script>
    <script src="/static/js/panelPhysics.js"></script>
    
</body>
</html>